.question-card{
  /*display:flex;
  flex :1;
  flex-direction: column;*/
  /*min-width: 700px;
  min-height: 400px;*/
  background-color: rgba(255, 255, 255, .2);
}
.question,.option{
  margin: 10px;
  width:100%;
  text-align: left;
  padding-left: 30px;
  white-space: normal;
}

.question{
  padding-top: 15px;
  padding-bottom: 15px;
}
.option{
}

.selected {
   background-color: #CFD8DC !important;
   color: white;
}
.correct {
  background-color: #00aa00 !important;
  /*color: white;*/
}
.wrong {
   background-color: #f44336 !important;
   /*color: white;*/
}
.bookmark-icon{
   /*margin-left: -24px;*/
}
