<md-grid-list cols="4" rowHeight="2:1" gutterSize="20px;">
  <div *ngFor="let categories  of practice_categories.categories_list;">
    <md-grid-tile class="tile">
      <button class="tile-button" md-raised-button color="primary" (click)="this.categories_list_clicked(categories)">
        {{categories.category_list_name}}
      </button>
    </md-grid-tile>
  </div>
  <div *ngFor="let categories  of test_categories.categories_list;">
    <md-grid-tile class="tile">
      <button class="tile-button" md-raised-button color="primary" (click)="this.categories_list_clicked(categories)">
        {{categories.category_list_name}}
      </button>
    </md-grid-tile>
  </div>
</md-grid-list>
